/* ---------------------------------------------------- */
/* CSS DE PÁGINA                                        */
/* ---------------------------------------------------- */

/* === CAIXA DE ERROS === */
.erro_prontuario_secao {
    display: none;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.erro_prontuario_secao h4 {
    margin-top: 0px;
}

/* === BOX DE FAVORITOS E ITENS DE FAVORITOS === */
.box-opcao-favorito {
    margin-bottom: 10px;
}

.opcao-favorito {
    color: #4286f4;
}

/* === ESTRELA DE FAVORITOS === */
.star-checked { /* estrela marcada */
    color: #e8da61;
}

.estrela-favorito {
    cursor: pointer;
}

/* === CUSTOMIZAÇÕES DE PANEL === */
.panel_filtro_alergia .panel-heading {
    font-size: 16px;
}

#caixa_nova_alergia .panel-body h5 {
    margin-top: 0px;
    font-size: 13px;
}
