/* ---------------------------------------------------- */
/* Desenvolvido por Clínica Rio de Janeiro              */
/* Clínica Rio de Janeiro © 2019                        */
/* ---------------------------------------------------- */

#msg_processando {
   display: none;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   opacity: 0.8;
   background-color: #555;
   z-index: 99;
   text-align: center;
}

#txt_msg_processando {
   font-size: 20px;
   color: #fff;
   background-color: #4d7bc6;
   width: 300px;
   margin: 0 auto;
   margin-top: 20%;
   z-index: 100;
}




    
    